<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Verify Your Email and Account</title>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <h4>Verify Your Email</h4>
    <p>Thank you for registering with us. Please click on the link below to verify your email.</p>
    {% if token %}
      <a href="{{ url_for('auth.confirm_email', _external=True, token=token) }}">Verify Account</a>
    {% endif %}
    <p>Ignore this email if you have already verified your email.</p>
    <p>Thanks, The Team</p>
  </body>
</html>
