{% extends 'layout.html' %}
{% from 'macros.html' import input_field, action_button %}
{% block title %}
  Confirm account ownership
{% endblock %}
{% block content %}
  <h1 class="mb-6 text-2xl font-semibold">Confirm ownership</h1>
  <form method="POST" action="{{ url_for('auth.request_password_change') }}">
    <label for="email">Enter the email linked to your account</label>
    {{ input_field('email', "Account's email", 'email') }}
    {{ action_button('Send a reset link') }}
  </form>
{% endblock %}
