{% extends 'layout.html' %}
{% from 'macros.html' import input_field, action_button %}
{% block title %}
  Change Password
{% endblock %}
{% block content %}
  <h1 class="mb-6 text-2xl font-semibold">Change Password</h1>
  <form method="POST" action="{{ url_for('auth.change_password') }}">
    <label for="password">Enter your new super secret password</label>
    {{ input_field('password', 'New Password', 'password') }}
    <div class="text-left my-3 text-sm text-slate-500">
      <label id="pass_toggle_label" for="check">Show password</label>
      <input type="checkbox" checked name="check" id="check" onclick="togglePasswordVisibility()" />
    </div>
    {{ action_button('Change Password') }}
  </form>
{% endblock %}
