{% extends 'layout.html' %}
{% from 'macros.html' import button_link, render_comments %}
{% block title %}
  Comments
{% endblock %}
{% block content %}
  <h1 class="mb-6 text-2xl font-semibold">Comments and Replies</h1>
  {% if current_user.is_authenticated and current_user.is_admin %}
    <ul class="flex justify-between my-2 text-lg">{{ button_link('Manage Users', 'admin.users') }}
      {{ button_link('View Comments', 'admin.comments') }}</ul>
    {{ render_comments(all_comments, current_user, 'admin.reply') }}
  {% endif %}
  {% if current_user.is_authenticated and current_user.is_faculty %}
    {{ render_comments(fac_comments, current_user, 'main.reply') }}
  {% endif %}
  {% if current_user.is_authenticated and not current_user.is_admin and not current_user.is_faculty %}
    <ul class="flex justify-between my-2 text-lg">{{ button_link('Post a Comment', 'main.index') }}</ul>
    {{ render_comments(comments, current_user, 'main.reply') }}
  {% endif %}
{% endblock %}
