{% extends 'layout.html' %}
{% from 'macros.html' import input_field, select_field, text_area, action_button, button_link %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  {% if current_user.is_authenticated and current_user.is_admin %}
    <ul class="grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-0 text-lg">{{ button_link('Gestion Commanades', 'main.orders') }}
      {{ button_link('Gestion Inventaire', 'main.inventory') }}
      {{ button_link('Gestion Payements', 'main.payments') }}
      {{ button_link("Gestion D'utilisateurs", 'admin.users') }}</ul>
  {% elif current_user.is_authenticated and current_user.is_manager %}
    <ul class="grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-0 text-lg">{{ button_link('Gestion Commanades', 'main.orders') }}
      {{ button_link('Gestion Inventaire', 'main.inventory') }}
      {{ button_link('Gestion Fournisseurs', 'admin.users') }}
      {{ button_link('Gestion Payements', 'main.payments') }}</ul>
  {% else %}
    <ul class="grid grid-cols-2 grid-rows-2 gap-x-2 gap-y-0 text-lg">{{ button_link('Gestion Commanades', 'main.orders') }}
      {{ button_link('Gestion Inventaire', 'main.inventory') }}
      {{ button_link('Gestion Payements', 'main.payments') }}</ul>
  {% endif %}
{% endblock %}
