{% from 'macros.html' import render_id_chip %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/output.css') }}" />
      <title>
        {% block title %}

        {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body class="text-center flex flex-col justify-between h-screen w-[80%] m-auto">
    <div id="header" class="mt-6">
      {% block header %}
        {% if current_user.is_authenticated %}
          <h1 class="text-xl my-5 flex justify-center items-center">
            {{ current_user.name }}
            {{ render_id_chip(current_user) }}
          </h1>
          <nav class="flex justify-center items-center">
            <a href="{{ url_for('auth.logout') }}" class="px-5 py-2 border rounded-md w-fit my-1">Logout</a>
          </nav>
        {% endif %}
      {% endblock %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="grid place-items-center">
            {% for message in messages %}
              <li class="px-5 py-2 border rounded-md w-fit my-1">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class="flex flex-col justify-center items-center" id="content">
      {% block content %}

      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <p class="my-3">&copy; Swift 2023</p>
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename = 'javascript/main.js') }}"></script>
  </body>
</html>
