{% extends 'layout.html' %}
{% from 'macros.html' import input_field, action_button %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <h1 class="mb-6 text-2xl font-semibold">Login</h1>
  <form method="POST" action="{{ url_for('auth.login') }}">
    {{ input_field('email', 'Email', 'email') }}
    {{ input_field('password', 'Password', 'password') }}
    <div class="text-left my-3 text-sm text-slate-500">
      <label id="pass_toggle_label" for="check">Show password</label>
      <input type="checkbox" checked name="check" id="check" onclick="togglePasswordVisibility()" />
    </div>
    {{ action_button('Submit') }}
  </form>
  <p class="my-3 text-sm">
    Forgot password? <a class="underline text-slate-500" href="{{ url_for('auth.request_password_change') }}">Reset</a>
  </p>
{% endblock %}
