{% extends 'layout.html' %}
{% from 'macros.html' import input_field, select_field, text_area, action_button, button_link %}
{% block title %}
  Utilisateurs
{% endblock %}
{% block content %}
  <div>
    <p class="font-bold mt-5">Ajouter un utilisateur</p>
    <form method="post" action="{{ url_for('admin.add_user') }}">
      {% if current_user.is_admin or current_user.is_manager %}
        <select name="user_type" id="user_type" class="px-5 py-2 my-5 border rounded-md border-gray-400">
          {% if current_user.is_admin %}
            <option value="admin">Admin</option>
            <option value="manager">Manager</option>
            <option value="supplier">Supplier</option>
          {% elif current_user.is_manager %}
            <option value="supplier">Supplier</option>
          {% endif %}
        </select>
      {% endif %}
      <div class="mb-5">
        {{ input_field('name', 'Username', 'text') }}
        {{ input_field('email', 'Email', 'email') }}
        {{ input_field('password', 'Temporary password', 'password') }}
        <div class="text-left my-3 text-sm text-slate-500">
          <label id="pass_toggle_label" for="check">Show password</label>
          <input type="checkbox" checked name="check" id="check" onclick="togglePasswordVisibility()" />
        </div>
      </div>
      {{ action_button('Ajouter') }}
    </form>
  </div>
  <div class="my-5">
    <p class="font-bold mb-5">Utilisateurs</p>
    <table class="table-auto w-full text-left bg-gray-900 text-gray-300 rounded-lg overflow-hidden">
      <thead class="bg-gray-800 text-gray-400">
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Email</th>
          <th class="px-4 py-2">Verified</th>
          <th class="px-4 py-2">Role</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr class="border-t border-gray-700">
            <td class="px-4 py-2">
              {{ user.name }} {% if current_user.id == user.id %}
                <strong>(You)</strong>
              {% endif %}
            </td>
            <td class="px-4 py-2">{{ user.email }}</td>
            <td class="px-4 py-2">{{ user.is_verified }}</td>
            <td class="px-4 py-2">{{ user.get_role() }}</td>
            {% if current_user.id != user.id %}
              <td class="px-4 py-2">
                <a href="" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded">Edit</a>
                <a href="{{ url_for('admin.delete_user', id=user.id) }}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-2 rounded">Remove</a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
